/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom */
body{text-align: center;
}

/*header*/
header{padding: 40px;background-color: aquamarine;
}
h1{color: black;text-align: center;float: left;
}
div{float: right;display: inline-block;margin:5px ;}
/*main*/

img{box-sizing: border-box;height: 100px;width: 100px;border-radius: 95px;}
article{
    padding: 20px;margin: 1%;background-color: rgb(112, 108, 102);float: left;
width: 28.65%;height: 200px;
}



/*footer*/
footer{padding: 40px;background-color: aquamarine;
}
h4{color: black;text-align: center;
}






.clearfix::before,.clearfix::after{
content:"";display:table;
}
.clearfix::after{
clear:both;
}